* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1920px;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    width: 100%;
    background-color: antiquewhite;
}

.container {
    max-width: 1180px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: aquamarine;
}

.header__inner {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.nav__link {
    text-decoration: none;
    color: #446381;

    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.nav__links button {
    width: 180px;
    height: 50px;

    background: linear-gradient(90deg, #4499d9, #7367be);

    border: none;
    border-radius: 50px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
}
